parameters:
    paths:
        - tests/Unit
    bootstrapFiles:
        - tests/bootstrap.php
    excludePaths:
        - vendor
        - node_modules
        - languages
    level: 0
    stubFiles:
        - tests/stubs/plugin-stubs.php
